.component {
    background-color: #141414
}

h1 {
    color: #fff;
    margin: 2vw 0 0 0;
}
.playerGrid {
    margin: 3rem auto;
    max-width: 650px;
  }

.colBorder {
    border:0.3em solid rgba(0, 0, 0, 0.4);
    height: 10vw;
    width: 10vw;
    margin: 0 2vw 5vw 0;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    background-size: cover;
}

.profileName {
    line-height: 1.2em;
    min-height: 1.8em;
    color: #808080;
    display: block;
    text-align: center;
    font-size: 24px;
    margin: .6em 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profileGateLabel {
    width: 100%;
    color: #fff;
    font-size: 3.5vw;
    opacity: 1;
}