.head{
    background-color: #141414;
}

.title{
    color: #fff;
    margin: 20px 0 10px 20px;
}

.button-sizing {
    margin: 10px 0 0 20px;
}

.drop-style{
    background-color: #6c757d;
}

.link-style{
    color: #fff;
}